.logo-container {
  width: 100px;
  height: 100px;
  perspective: 1000px; /* gives 3D feel */
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: rotateLogo 8s linear infinite;
  transform-style: preserve-3d;
}

.logo {
  filter: drop-shadow(0 0 8px rgba(212, 17, 33, 0.7));
}

@keyframes rotateLogo {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
